@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=League+Spartan:wght@100;200;300;400;500&family=Montserrat:wght@300&family=Playfair+Display:wght@400;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,400;1,500;1,600&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    
}

header{
    width: 100%;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fthewordbite.files.wordpress.com%2F2017%2F06%2Fc41.jpg&f=1&nofb=1");
    height: 120px;
    background-position: center center;
    background-size: contain
    ;
}
h2{
    font-size: 30px;
}

#container{
    display: flex;
    width: 100vw;
    justify-content:center;
    
}
#img{
    width: 200px;
    max-width: 500px;
    margin: 0%;
}
.color{
  height: 40px;
  width:50px;
  display: flex;
  border: none;
  margin: 5px 0;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
#colors{
    display: flex;
    
}


#content{
    width: 70%;
    height: 80vh;
    position: relative;
    display: flex;
    justify-content: center;
    /* border: 1px solid rgb(214, 205, 205);
    box-shadow: 0 0 2px rgb(0, 0, 0); */
}
#black{
    background-color: black;
    margin-right: 5px;
}
#blue{
    background-color: #565681;
    margin-right: 5px;
}

#red{
    background-color: #e9c7be;
    margin-right: 5px;
}

#orange{
    background-color: #ca3d22;
    margin-right: 5px;
}

#watchImage{
    
    /* display: flex;
    align-items: center; */
    margin-top: 120px;
    position: relative;
}

#input-time{
  position: absolute;
  left: 35%;
  top: 12%;
    color:#dfd3d0;
    font-size: 15px;
 }
#textContent{
    width: 90%;
    margin-top: 100px;
}

#icon {
    position: absolute;
    left: 40%;
    top: 15%;
    color: #ca3d22;
    animation-name: heart;
    animation-duration: 50s;
}

header .toggle{
    color:white;
    font-size: 30px;
    position: absolute;
    top: 10px;
    left:10px ;
}

#content .tnone{
    display: none;
}
input.nosubmit {
    position: absolute;
    top: 4px;
    right: 0;
    margin-top: 4px;
    outline: #2c1502;
    border: 1px solid #555;
    max-width: 400px;
    float: right;
    padding: 9px 4px 4px 15px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
  



#content .hnone{
    display: block;
}


footer{
    background: #000;
    font-size: 10px;
    color: rgb(241, 228, 228);
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}



i,p{
    font-size: 20px;
    color: #e4dad8;
}

#textContent p{
    margin: 5px 0; 
    color: grey;
    font-size: 12px;
}
#features{
    margin: 5px 0;
}

#Btntime, #Btnheart{
    padding: 7px;
    background-color: #312c2b;
    color: white;
    outline: #e9c7be;
    font-size: 15px;
    border-color: #7c7c81;
    border-radius: 10px;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.button-50 {
    
    appearance: button;
    background-color: #000;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 20px auto;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .button-50:focus {
    text-decoration: none;
  }
  
  .button-50:hover {
    text-decoration: none;
  }
  
  .button-50:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
  }
  
  .button-50:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .button-50 {
      padding: 12px 50px;
    }
  }
  

@media only screen and (min-width:310px) and (max-width:640px) {
 #container{
     width:100%
 }

#content{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#textContent{
    margin: 45px 25px;
}
#textContent h2{
    font-size: 22px;
}
#watchImage{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

#input-time{
    position: absolute;
    left: 41%;  
    top:50% 
     
}
#icon{
    position: absolute;
    top: 35%;
    left: 45%;
}
#textContent > p{
    font-size: 15px;
    font-weight: normal;
   
}
    
}







/* 
* @keyframes heart {
    0%{
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
}
5%{
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -o-transform: scale(1.0);
}
10%{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

20%{
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
}

25%{
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -o-transform: scale(1.0);
}
35%{
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
}
55%{
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
}
100%{
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
} */   
} */